* {
    margin: 0;
    box-sizing: border-box;
}
main {
    background-color: cyan;
    height: 100vh;
    font-family: fantasy;
}

.title {
    color: black;
    text-transform: uppercase;
    position: fixed;
    right: 30%;
    top: 50%;
}

.popup {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 40vh;
    padding: 10px;
    background-color: yellow;
    border: 1px black;
    box-shadow: 2px 2px 2px black;
    position: absolute;
    top: 97vh;
    left: 28%;
    visibility: hidden;
    transition: ease-in top 3s;


}
main:hover .popup {
position: relative;
top: 25%;
visibility: visible;
}