* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 80vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   


.title-item {
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #CC212A;  
}

.footer {
    border-top: 3px #CC212A solid;

}

.r {
    

}

.copy {

}
