* {
  font-size: xx-large;
}

.container {
    position: relative;
    bottom: 100px;
}

.cookies {
  height: 100px;
  width: 100vw;
  background: #9acd32;
  position: fixed;
  bottom: 0;
}
